<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>posts</title>

    <!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="static/style.css" th:href="@{/style.css}">
<script src="https://kit.fontawesome.com/f0b56f6b49.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="header-container">
            <h1>Blog AlkemyLabs</h1>
        </div>
        <div class="notfound-container">
            <h1>404 - NOT FOUND</h1>
            <h2>El post indicado no existe</h2>
            <button type="button" class="btn btn-primary"><a class="btn" th:href="@{/post}">Home <i class="fas fa-home"></i></i></a></button>  
        </div>
    </div>
    </div>
    </div>
</body>

</html>